/* index.css أو app.css */
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* المتغيرات المخصصة */
:root {
  --background: #fff;
  --text: #6b6375;
  --primary: #aa3bff;
}
